:root {
  --green: #00ff9f;
  --yellow: #f8ff1d;
  --purple: #9c7bff;
  --blue: #4b69fe;
  --light-purple: #f8e0fa;
  --light-green: #b2e2bb;
  --light-yellow: #fbf4a0;
  --font: "Work Sans", sans-serif;
  --shadow-1: 1.5vmin 1.5vmin #000;
  --border: solid 1vmin #000;
  --border-small: solid 0.65vmin #000;
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}

body {
  background: var(--purple);
  font-family: var(--font);
}

html {
  font-family: system-ui, sans-serif;
  background: #13151a;
  background-size: 224px;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

main {
  margin: auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 2rem);
  color: white;
  font-size: 20px;
  line-height: 1.6;
}
.astro-a {
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translatex(-50%);
  width: 220px;
  height: auto;
  z-index: -1;
}
h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
}
.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}
.text-gradient-light {
  background-image: var(--accent-light);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}
.instructions {
  margin-bottom: 2rem;
  border: 1px solid rgba(var(--accent-light), 25%);
  background: linear-gradient(
    rgba(var(--accent-dark), 66%),
    rgba(var(--accent-dark), 33%)
  );
  padding: 1.5rem;
  border-radius: 8px;
}
.instructions code {
  font-size: 0.8em;
  font-weight: bold;
  background: rgba(var(--accent-light), 12%);
  color: rgb(var(--accent-light));
  border-radius: 4px;
  padding: 0.3em 0.4em;
}
.instructions strong {
  color: rgb(var(--accent-light));
}
.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: 2rem;
  padding: 0;
}

.modal {
  aspect-ratio: 5/8;
  background: var(--green);
  border-radius: 4vmin;
  box-shadow: var(--shadow-1);
  border: var(--border);
  position: relative;
  overflow: visible;
  padding-block: 4vmin;
  max-width: 350px;
  margin: 4rem auto;
}

.img {
  box-shadow: 0.6vmin 0.6vmin #000;
  aspect-ratio: 1;
  border: var(--border-small);
  border-radius: 5vmin;
  margin: auto;
  max-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  text-align: center;
  font-weight: 600;
  font-size: 5vmin;
  line-height: 0;
}
.title {
  margin: auto;
  text-align: center;
  line-height: 0;
  font-size: 3.5vmin;
  font-weight: 600;
  transform: translateY(55px);
}
.desc {
  width: fit-content;
  height: 20%;
  background: var(--light-green);
  position: relative;
  border-radius: 3vmin;
  border: var(--border-small);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 6vmin;
  font-size: 4vmin;
  font-weight: 600;
}
.descParent {
  display: flex;
  flex-direction: column;
  height: 40vmin;
  aspect-ratio: 5/2;
  gap: 4vmin;
  position: absolute;
  overflow: visible;
  bottom: 16vmin;
  justify-content: center;
  transform: translateY(125px);
}
.descParent :nth-child(2) {
  background: var(--light-purple);
  left: 8vmin;
  box-shadow: 0.6vmin 0.6vmin var(--light-yellow), 1vmin 1vmin #000,
    1vmin 1vmin #000, 0.65vmin 1vmin #000, 1vmin 0.65vmin #000;
}
.descParent :first-child {
  right: 18vmin;
  box-shadow: 0.6vmin 0.6vmin var(--light-purple), 1vmin 1vmin #000,
    0.65vmin 1vmin #000, 1vmin 0.65vmin #000;
}
.descParent :last-child {
  right: 8vmin;
  background: var(--light-yellow);
  box-shadow: 0.6vmin 0.6vmin var(--light-green), 1vmin 1vmin #000,
    1vmin 1vmin #000, 0.65vmin 1vmin #000, 1vmin 0.65vmin #000;
}
.btn {
  position: absolute;
  bottom: 4vmin;
  left: 0;
  right: 0;
  margin: auto;
  width: 32vmin;
  padding-block: 1.5vmin;
  border-radius: 3vmin;
  border: var(--border-small);
  box-shadow: 0.6vmin 0.6vmin #000;
  text-align: center;
  background: var(--yellow);
  text-decoration: none;
  font-weight: 800;
  color: #000;
  font-size: 4vmin;
}

.btn-rel {
  margin: auto;
  width: 32vmin;
  padding-block: 1.5vmin;
  border-radius: 3vmin;
  border: var(--border-small);
  box-shadow: 0.6vmin 0.6vmin #000;
  text-align: center;
  background: var(--yellow);
  text-decoration: none;
  font-weight: 800;
  color: #000;
  font-size: 4vmin;
  padding: 1rem;
}

article {
  width: 70vw;
  max-width: 70vw;
  background-color: white;
  border-radius: 1vmin;
  padding: 4rem;
  margin: 4rem auto;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  flex: 0 0 calc(50% - 10px);
  margin-right: -110px;
  margin-bottom: 10px;
}

.video-container {
  position: relative;
  padding-top: 30px;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}
.video-description {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  width: 30%;
  padding: 20px;
}
.astro-container {
  margin: auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 2rem);
}
